{% extends 'base.html'%}

{%block cabeca%}
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/tableaus.css') }}">
{%endblock%}

{%block title%}Simplex Primal{%endblock%}

{%block menu%}
<div class="master">
  <div class="body">
    <div class="container-slider">
      <div class="container-table"></div>
    </div>
    <div class="buttons">
      <button id="prev-button" onclick="decreaseValue()">
        <?xml version="1.0" ?><svg class="feather feather-chevron-right" fill="none" height="24" stroke="currentColor"
          stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24"
          xmlns="http://www.w3.org/2000/svg">
          <polyline points="9 18 15 12 9 6" />
        </svg>
      </button>
      <div id="iterations"></div>
      <button id="next-button" onclick="increaseValue()">
        <?xml version="1.0" ?><svg class="feather feather-chevron-right" fill="none" height="24" stroke="currentColor"
          stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24"
          xmlns="http://www.w3.org/2000/svg">
          <polyline points="9 18 15 12 9 6" />
        </svg>
      </button>
    </div>

  </div>
  <div class="resultado">
  </div>
</div>

{%endblock%}

{%block script%}
<script>
  var resultado = JSON.parse('{{json_data | tojson | safe}}'); //Converte os dados em python em js
  var qntOfVar = JSON.parse('{{qntVar | tojson | safe}}');
  console.log(resultado)
  var iteracao = resultado.all_tableaus.length; // Quntidade de iteracoes = i
  console.log("Iterações: " + iteracao)
  var linhas = resultado.all_tableaus[0].length; // Quantidade de linhas = j
  console.log("Linhas: " + linhas)
  var col = resultado.all_tableaus[0][0].length; // Quantidade de colunas = k
  console.log("Colunas: " + col)
  console.log(qntOfVar);
  var coords;
  exibirSolução();

  (function () {
    var base = mudarBase();
    console.log(base);
    for (var i = 0; i < iteracao; i++) { // Iteração
      var div = $('<div>').attr("class", "slide").appendTo(".container-table");
      var table = $("<table>").appendTo(div).attr("class", "table");
      coords = encontrarPivo(i);
      // $("<capition>").text("Iteração " + (i + 1))
      // .appendTo(div);

      for (var j = -1; j < linhas; j++) { // Linha
        var tr = $("<tr>").appendTo(table);

        for (var k = -1; k < col; k++) { // Coluna
          if (k == -1 && j == -1) {
            $("<td>").text("Base").appendTo(tr);

          } else if (k == -1 && j == 0) {
            $("<td>").text("Z").appendTo(tr);

          } else if (k == -1) {
            $("<td>").text(base[i][j + qntOfVar - 1]).appendTo(tr);
          }

          if (j == -1 && k < (col - 1) && k > -1) {
            var td = $("<td>").text("X" + (k + 1)).appendTo(tr);

          } else if (j == -1 && k == (col - 1)) {
            $("<td>").text("LD").appendTo(tr);

          } else if (j > -1 && k > -1) {
            if (j == coords.positionJ && k == coords.positionK) {
              label = $("<td>").text(resultado.all_tableaus[i][j][k]).addClass('pivo');
            } else {
              label = $("<td>").text(resultado.all_tableaus[i][j][k]);
            }

            $(tr).append(label);
            //console.log(resultado.all_tableaus[i][j][k]);
          }
        }
      }

      $("<br>").appendTo(".container-table"); // Quebra de linha
    }

  })();

  function encontrarPivo(i) {
    if (i < iteracao - 1) {
      let Z = [];
      let LD = [];
      var minValueP = [];
      var pivoPosition;
      let valuePivo;
      let minValue = 0;
      var positionJ;
      var positionK;

      for (var k = 0; k < col - 1; k++) { // Define coluna pivô
        Z.push(resultado.all_tableaus[i][0][k]);
        minValue = Math.min(...Z);
        if (minValue == Z[k]) {
          positionK = k;
        }
      }
      for (var j = 1; j < linhas; j++) {
        LD.push(resultado.all_tableaus[i][j][col - 1]);
        minValueP.push(LD[j - 1] / resultado.all_tableaus[i][j][positionK]);
        valuePivo = minValueP.filter(valor => valor > 0);

        if (minValueP[j - 1] == Math.min(...valuePivo)) {
          positionJ = j;
        }
      }

      // console.log(Z);
      // console.log(positionK);
      // console.log(minValue);
      // console.log(LD);
      // console.log(minValueP);
      // console.log("Menor valor: " + Math.min(...valuePivo));
      // console.log("Coordenadas do pivô: " + positionK + " : " + positionJ);
      // console.log({ positionK, positionJ });
    }

    return { positionJ, positionK };
  }

  function mudarBase() {
    var base = [];
    var varBase = [];
    var oBase = [];
    var fBase = [];
    var vars = [];
    var positionE = [];

    for (k = 1; k < col; k++) {
      vars.push("X" + k);
    }

    for (var i = 0; i < iteracao; i++) {

      for (var j = 1; j < linhas; j++) {
        varBase[j] = [];
        for (var k = qntOfVar; k < col - 1; k++) {
          varBase[j][k] = resultado.all_tableaus[i][j][k];

          if (i == 0) {
            if (varBase[j][k] == -1) {
              positionE.push(k);
            }
            for (var l = qntOfVar; l < (col - 1); l++) {
              base[l] = "X" + (l + 1);
            }

            if (positionE.length > 0) {
              for (var m = 0; m < positionE.length; m++) {
                base.splice(positionE[m], 1);
              }
            }
            fBase[i] = [];

            for (u = 0; u < base.length; u++) {
              fBase[i][u] = base[u];
            }
            // oBase = base;
          }
        }
      }

      if (i > 0) {
        var cordinate = encontrarPivo(i - 1);
        fBase[i] = [];
        for (var k = 0; k < base.length; k++) {
          fBase[i][k] = oBase[k];
        }
        base[cordinate.positionJ - 1 + qntOfVar] = vars[cordinate.positionK];
        // console.log(fBase)

      }
      oBase = base;
      for (var k = 0; k < base.length; k++) {
        fBase[i][k] = oBase[k];
      }
      // console.log(oBase)
      // console.log("A: " + cordinate.positionJ);
      // console.log("B: " + cordinate.positionK);
    }

    // console.log(varBase);
    // console.log(base);
    // console.log(positionE);
    // console.log("Tam: " + varBase.length)
    console.log(fBase);
    // console.log(oBase);
    // console.log(vars);
    // console.log(base);
    return fBase;
  }

  function exibirSolução() {
    var optSolution = resultado.solution;
    console.log(optSolution.additional_solutions);

    $('<p>').text("Solução ótima: " + optSolution.optimal_solution).appendTo('.resultado');
    $('<br>').appendTo('.resultado');
    $('<p>').text("Solução:").appendTo('.resultado');

    for (var i = 0; i < qntOfVar; i++) {
      $('<p>').text("X" + (i + 1) + ": " + optSolution.solution[i]).appendTo('.resultado');
    }

    $('<br>').appendTo('.resultado');

    if (optSolution.additional_solutions != undefined) {
      $('<p>').text("Solução multipla: ").appendTo('.resultado');

      for (var i = 0; i < qntOfVar; i++) {
        $('<p>').text("X" + (i + 1) + ": " + optSolution.multiple_solution[i]).appendTo('.resultado');
      }

      $('<br>').appendTo('.resultado');

      $('<p>').text("Solução adicional: ").appendTo('.resultado');

      for (var i = 0; i < qntOfVar; i++) {
        $('<p>').text("X" + (i + 1) + ": " + optSolution.additional_solutions[i]).appendTo('.resultado');
      }

    }

  }
</script>

<script src="{{ url_for('static', filename='JS/slider.js') }}"></script>

{%endblock%}